@import url('./color.less');
:root {
  --font-xs: 22px;
  --font-s: 24px;
  --font-m: 28px;
  --font-l: 32px;
  --font-xl: 36px;
  --box-padding: 32px;
  --border-radius: 16px;
}

.shadow {
  border: 4px solid var(--color-purple);
  box-shadow: 6px 6px 2px var(--color-yellow);
  background: #fff;
}
.border {
  border: 4px solid var(--color-border);
  background: #fff;
  box-shadow: 0px 0px 4px var(--color-border);
}
