.detail {
  padding: 16px;
  display: flex;
  flex-flow: column;
  &--book {
    display: flex;
    flex-flow: row nowrap;
    // align-items: center;
  }
  &__cover {
    padding: 32px 16px;
    .cover-wrap {
      width: 180px;
      height: 240px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__desc {
    --title-size: var(--font-xl);
    padding: 32px 16px;
    color: var(--color-white);
    flex: 1;
    min-width: 100px;
    // min-height: 350px;
    .desc-wrap {
      width: 100%;
    }
    p {
      margin-bottom: 8px;
    }
    .name {
      font-size: var(--title-size);
      color: var(--color-purple);
      margin-bottom: 16px;
      line-height: 1;
    }
    .author {
      span + span {
        margin-left: 32px;
      }
    }
  }
  .desc {
    color: #fff;
    padding: 16px 16px;
  }
  &--chapter {
    padding: 0 16px;
  }
  &--chapterlist {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 16px));
    grid-auto-rows: minmax(min-content, max-content);
    row-gap: 32px;
    column-gap: 24px;
  }
  &__chapteritem {
    text-align: center;
    .chapter-card {
      &.active {
        background-color: var(--color-purple);
        color: var(--color-white);
        border-color: var(--color-purple);
        &::after {
          background-color: var(--color-white);
          box-shadow: 0px 0px 10px var(--color-white);
        }
      }
    }
  }
  &--footer {
    padding: 16px 32px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 50px;
    .detail-bar {
      flex: 1;
      min-width: 100px;
      .icon {
        width: 58px;
        height: 58px;
      }
    }
  }
  .van-skeleton {
    padding: 32px 16px;
    &.button-skeleton {
      width: 320px;
      .van-skeleton__row {
        width: 100%!important;
        padding: 12px 32px;
        height: 70px;
      }
    }
  }
  .van-skeleton__avatar {
    width: 180px;
    height: 240px;
    border-radius: 0;
  }
}
.tool-bar {
  font-size: 0;
  margin-bottom: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .tool-title {
    color: #fff;
    font-size: var(--font-xl);
  }
}
.color-orange {
  color: var(--color-orange);
}

.detail-button {
  display: inline-block;
  text-align: center;
  padding: 12px 32px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 320px;
  background-color: var(--color-white);
  // border-color: var(--color-purple);
  color: var(--color-orange);
  cursor: pointer;
  &::after {
    // border-radius: 100px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
